 <header>
        <h1 class="logo">ARYA</h1>

        <nav>
            <a href="/">Inicio</a>
            <a href="#">Colecciones</a>
            <a href="/login">Ingresar</a>
            <a href="/register">Crear cuenta</a>
            <a href="/productCart">Carrito</a>
        </nav>
    </header>