<head>
    <%- include('partials/head') %>
</head>

<body>

    <%- include('partials/header') %>

    <main class="login">

        <h2>Error 404</h2>

        <p>La página que estás buscando no existe.</p>

        <a href="/">
            <button>Volver al inicio</button>
        </a>

    </main>

    <%- include('partials/footer') %>

</body>

</html>